language: python
python:
  - "3.5"
  - "3.6"
install:
  - pip install -r requirements.txt
script:
  - python -m unittest -v
notifications:
  email: false
  slack: gimme-gimme-gimme:uY4HHVgymLh2iLILqZahaOPK
